body{
    background: gray;
}

.slideShow{
    width: 570px;
    height: 270px;
    margin: 0 auto;
    border: 20px solid white;
    position: relative;
    overflow: hidden;
}
.sliders article{
    position: absolute;
    width: 570px;
    height: 270px;
    animation-delay: 5s;
} 

.sliders:hover{
    animation-play-state:paused;
 }

 .sliders article:nth-child(1){
    left: 0px;
 }
 
 .sliders article:nth-child(2){
    left: 570px;
 }
 
 .sliders article:nth-child(3){
    left: 1140px;
 }
 
 .sliders article:nth-child(4){
    left: 1710px;
 }
 
 .sliders article:nth-child(5){
    left: 2280px;
 }

 .sliders div{
    position: absolute;
    width: 250px;
    background-color: rgba(95, 81, 81, 0.8);
    color: #fff;
    padding: 10px;
    top: 50px;
    right: 20px;
    box-shadow: 2px 2px 3px black;
 }
 .sliders{
    width: 2280px;
    height: 270px;
    position: absolute;
    top: 0;
    left: 0;
    animation: slide_animation 10s infinite alternate;
 }

 @keyframes slide_animation {
    0%{
        left: 0px;
    }
    16%{
        left: 0px;
    }
    20%{
        left: -570px;
    }
    36%{
        left: -570px;
    }
    40%{
        left: -1140px;
    }
    56%{
        left: -1140px;
    }
    68%{
        left: -1710px;
    }
    87%{
        left: -1710px;
    }
    89%{
        left: -2280px;
    }
    100%{
        left: -2280px;
    }
 }